In [9]:
a= "prakhar"
a.capitalize()
#used for capitalizing the entry.

'Prakhar'

In [10]:
b="aNuRag"
b.casefold()
#The casefold() method which convert strings to casefolded strings for caseless matching.

'anurag'

In [12]:
c="Corona"
c.lower()              
#can be used for lower case entries.

'corona'

In [14]:
d="sdanfehoiwhfkbdvjbe"
d.count('d')
#used for counting the occurence of a singular character in a string.

2

In [18]:
e = "ilates"
e.find("i")
#used for finding the location of a character in a string.

0

In [20]:
f = "tikona"
f.endswith("a")
#used for checking if a string is emding with a specified letter.

True

In [23]:
g = "Thapli"
g.istitle()
#used for checking if a string has a title or not.

True

In [24]:
h = "ML"
h.replace('ML','AI')
#used for replacing the contents of a memory location with something else.

'AI'

In [25]:
i = "Aloha"
i.swapcase()

'aLOHA'


LIST

In [33]:
l1 = [1,2,3,4,5]
l1.append("t")
l1
#appends something at the end of a list

[1, 2, 3, 4, 5, 't']

In [35]:
l2 = [1,2,3,4,5]
l2.clear()
l2
#it empties the list

[]

In [52]:
l3 = [1,2,3,4,5]
l3.count(1)
# it can tell the number of times an element appears in the list.

1

In [42]:
l4 = [1,2,3,4,5]
l4.reverse()
l4
#it reversed the elements in the list.

[5, 4, 3, 2, 1]

In [43]:
l5 = [1,2,3,4,5,6]
l5.pop()
#it pops the last element in the list.

6

In [46]:
l6=[1,2,3,4,5]
l6.remove(3)
l6
#it removes the specified element from the list.

[1, 2, 4, 5]

In [49]:
l7 = [1,4,6,9,2,3]
l7.sort()
l7
#It sorts the elements in the list.

[1, 2, 3, 4, 6, 9]

In [53]:
l8 = [1,2,3,4,5]
l9 = [6,7,8,9]
l8.extend(l9)
l8
#it can be used for extending a list with another list.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
l10 = [1,2,3,4,5]
l10.insert(2,6)
l10
#it inserts an element at the specified index.

[1, 2, 6, 3, 4, 5]




DICTIONARIES

In [62]:
d1 = {1,2,3,4,5}
d1.clear()
d1

set()

In [64]:
d2 = {1,2,3,4,5}
d2.pop()
d2
# pop removes the first element in the dictionary.

{2, 3, 4, 5}

In [67]:
d3 = {1,2,3,4,5,6}
d4 = {5,6,7,8,9}
d3.union(d4)
d3
# the union method finds the unique elements in two dictionaries.

{1, 2, 3, 4, 5, 6}

In [71]:
d5 = {1,2,3,4,5}
d6 = {6,7,8,9,0}
d5.add(7)
d5
#add can be used for adding a certain element to a dictionary.

{1, 2, 3, 4, 5, 7}

In [73]:
d7={1,2,3,4,5}
d7.remove(1)
d7
#used for removing a cerayin entry form a dictionary.

{2, 3, 4, 5}

In [77]:
d8 = {1,2,3,4,5,10}
d9 = {1,2,3,4,5,6,7,8,9,10}
d8.issubset(d9)
# issubset checks if the dictionary is  a subset of another dictionary.

True

In [81]:
d10 = {1,2,3,4,5,6}
d11 = {1,2,3}
ao=d10.intersection(d11)
ao
# it finds the common elements in 2 dictionaries.

{1, 2, 3}

TUPLES

In [85]:
t1 = (1,2,3,4,5)
t1.count(3)
#it counts the number of occurences of an element in a tuple.

1

In [86]:
t2 = (1,2,3,4,5)
t2.index(4)
#It gives the location of the element in the tuple.

3

In [89]:
a = input("What is your name?")
a
#It asks for an input form the user.

What is your name?Prakhar

'Prakhar'

Q - It is commonly said that one human year is equivalent to 7 dog years. However this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human years as 4 dog years.

Write a program that implements the conversation from human years to dog years described above. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years

In [2]:
hyears = int(input("What is your age?"))
if hyears < 3:
    dyears = hyears * 10.5
    print(dyears)
elif hyears > 2:
    dyears = (hyears-2) * 4 + 21 
    print(dyears)
else:
    print("CALCULATION NOT POSSIBLE.")

What is your age?3
25